/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// FONT /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------------------------------------- HELVETICA --- */
@font-face {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('../font/helvetica.woff2') format('woff2'), url('../font/helvetica.woff') format('woff');
}

/* ----------------------------------------------------------------- CINETYPE --- */
@font-face {
    font-family: 'cinetype';
    font-style: normal;
    font-weight: normal;
    src: url('../font/cinetype.woff2') format('woff2'), url('../font/cinetype.woff') format('woff');
}
