/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// GLOBAL /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------------------------------------------ CHARSET --- */
@charset 'utf-8';

/* --------------------------------------------------------------------- FONT --- */
@import 'global/font';

/* -------------------------------------------------------------------- RESET --- */
@import 'global/reset';


/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// SITE /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ----------------------------------------------------------------- DOCUMENT --- */
html,
body {
    line-height: 20px;
    text-size-adjust: 100%;
    background-color: #000000;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------------------------- BODY --- */
body {
    padding: 32px 40px;
    @media (max-width: 768px) {
        padding: 16px 20px;
    }
}

/* --------------------------------------------------------------------- MAIN --- */
main {
    position: relative;
    z-index: 1;
}

/* ------------------------------------------------------------------ HEADING --- */
h1 {
    color: #ffffff;
    font-family: 'helvetica', sans-serif;
    font-size: 12px;
}

/* ---------------------------------------------------------------- PARAGRAPH --- */
p {
    color: #999999;
    font-family: 'cinetype', monospace;
    font-size: 10px;
}
